# Module Six Lesson Four Practice Activity One
# Julian Monsalve 3/17/2022
# In this lesson I've learned how to create lists and access items in a list.
# No difficulties.
## List Sequences
- **List Creation**
- **List Access**
- List Append
- List Insert
- List Delete

----- 

### Student will be able to
- **Create lists**
- **Access items in a list**
- Add items to the end of a list
- Modify and insert items into a list
- Delete items from a list

## Concept: Creating Lists
[View Creating Lists video](https://ncvps.yuja.com/V/Video?v=4514546&node=15054664&a=824416378&autoplay=1)
  
  
A simple lists contains **comma separated** objects enclosed in **square brackets**.
```python
empty_list = [ ]
sample_list = [1, 1, 2, 3, 3, 3, 3, 4, 5, 5, 5, 5, 5]
```

List object types are not restricted so a mix of object types can be in single list
```python
mixed_list = [1, 1, "one", "two", 2.0, sample_list, "Hello World"]
```

### Examples

In [1]:
# [ ] review and run example
# define list of strings
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

# display type information
print("ft_bones: ", type(ft_bones))

# print the list
print(ft_bones)

ft_bones:  <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [2]:
# [ ] review and run example
# define list of integers
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

# display type information
print("age_survey: ", type(age_survey))

# print the list
print(age_survey)

age_survey:  <class 'list'>
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

In [3]:
# [ ] review and run example
# define list of mixed data type
mixed_list = [1, 34, 0.999, "dog", "cat", ft_bones, age_survey]

# display type information
print("mixed_list: ", type(mixed_list))

# print the list
print(mixed_list)

mixed_list:  <class 'list'>
[1, 34, 0.999, 'dog', 'cat', ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform'], [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]]

## Task 1: Create Lists

In [4]:
# [ ] create team_names list and populate with 3-5 team name strings

# [ ] print the list

team_names = ["Astros", "Gators", "Cubs", "Elephants"]
print(team_names)

['Astros', 'Gators', 'Cubs', 'Elephants']

In [5]:
# [ ] Create a list mix_list with numbers and strings with 4-6 items

# [ ] print the list

mix_list = ["one", 2, "three", 4, "five", 6]
print(mix_list)

['one', 2, 'three', 4, 'five', 6]

## Concept: List Access 
[View Accessing Lists video](https://ncvps.yuja.com/V/Video?v=4514550&node=15054677&a=1013326284&autoplay=1)
### Counting like a computer
#### To access a list we need to count like a computer, and that means starting with zero (0)
Lists give an **index** number to each list item.

- first element in a list is index 0
- second element in a list is index 1

To access the first item in a list use the list name, followed by square brackets containing the index number.
```python
age_survey[0]
```

### Examples

|run previous examples before running the examples below|
|-----------------------------------------------------------|

In [6]:
# [ ] review and run example
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[2], "is the 3rd bone on the list")
print(ft_bones[-1], "is the last bone on the list")

calcaneus is the 1st bone on the list
cuboid is the 3rd bone on the list
medial cuneiform is the last bone on the list

In [7]:
# [ ] review and run example
print(ft_bones[1], "is connected to the",ft_bones[3])

talus is connected to the navicular

In [8]:
# [ ] review and run example
three_ages_sum = age_survey[0] + age_survey[1] + age_survey[2]
print("The first three ages total", three_ages_sum)

The first three ages total 38

## Task 2

In [12]:
# [ ] Create a list, streets, that lists the name of 5 street name strings

# [ ] print a message that there is "No Parking" on index 0 or index 4 streets

streets = ["Green Level Church", "Smokey Woods", "Oak Street", "Okelly Chapel", "77 Lane"]
if streets[4]:
    print(streets)
else:
    print("No Parking")

['Green Level Church', 'Smokey Woods', 'Oak Street', 'Okelly Chapel', '77 Lane']

In [13]:
# [ ] Create a list, num_2_add, made of 5 different numbers between 0 - 25

# [ ] print the sum of the numbers

num_2_add = [4, 18, 15, 21, 9]
sum = 4 + 18 + 15 + 21 + 9
print(sum)

67

## Task 3: Fix the errors

In [14]:
# [ ] Review & Run, but ***Do Not Edit*** this code cell
# [ ] Fix the error by only editing and running the block below

print(" Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

NameError: name 'pay_checks' is not defined

In [24]:
# [ ] Fix the error above by creating and running code in this cell

pay_checks = [1, 2, 3, 4]
print("Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

Total of checks 3 & 4 = $ 7

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977)   [Privacy &amp; cookies](https://go.microsoft.com/fwlink/?LinkId=521839)   © 2017 Microsoft