# Module Two Lesson Two Practice Activity Two
# Julian Monsalve 1/27/2022
# I've learned how to combine strings and write code using variables.
# No difficulties.
##  Type() Function
- Python 3 in Jupyter notebooks
- `print()`
- Comments  
- **Data types basics**
- **Variables**  
- Addition with Strings and Integers
- Errors  
- Character art  

-----


### Student will be able to
- Use Python 3 in Jupyter notebooks
- Write working code using `print()` and `#` comments  
- **Write working code using `type()` and variables**
- Combine Strings using string addition (+)
- Add numbers in code (+)
- Troubleshoot errors
- Create character art

#### Before submission: Remember you need to add descriptive comments in each cell (examples AND tasks) that explains what your code is doing.

## Concept: Using the Python `type()` Function
**`type()`** returns the data type of Python objects.

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/b8fbc662-a42e-4a4a-8cfc-564cb240576e/Unit1_Section1.3-Type.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/b8fbc662-a42e-4a4a-8cfc-564cb240576e/Unit1_Section1.3-Type.vtt","srclang":"en","kind":"subtitles","label":"english"}])

### `str`, `int`, `float`  
#### What does using `type()` reveal?
- **`str`**: when **type()** returns **str** that means it has evaluated a **string** characters (numbers, letters, punctuation...) in quotes 
- **`int`**: when **type()** returns **int** that means it has evaluated an **Integer** (+/- whole numbers) 
- **`float`**: when **type()** returns **`float`** that means it has evaluated decimal numbers (e.g. 3.33, 0.01, 9.9999 and 3.0), ...more later in the course

### **Important Note**: 
- Most Python interpreters do not return anything from the type() command alone. You must use print(type()) to get output.  While Juypter Notebooks does, we will adopt best practice in this course and expect you to always use print(type()) when you are determining the data type of a variable.

### Examples
- Read and run the code for each example.  
- Before submission: Remember you always need to add descriptive comments(starting with a #) in the same cell right before your code that explains what your code is doing.  This is true for ALL examples AND Tasks.

In [1]:
print(type("Hello World!"))

<class 'str'>

In [2]:
print(type(501))

<class 'int'>

In [3]:
print(type(8.33333))

<class 'float'>

In [4]:
student_name = "Colette Browning"
print(type(student_name))

<class 'str'>

## Task 1 (multi-part): Using `type()`
- Complete the "identify data types" tasks by assigning  values to the variableÂ  **`bucket`** and using **`type()`**.
- Before submission: Remember you always need to add descriptive comments(starting with a #) in the same cell right before your code that explains what your code is doing.  This is true for ALL examples AND Tasks.

In [5]:
# [ ] show the type after assigning bucket = a whole number value such as 16

In [6]:
# [ ] show  the type after assigning bucket = a word in "double quotes"

In [7]:
# [ ] display the type of 'single quoting' (use single quotes)

In [8]:
# [ ] display the type of "double quoting" (use double quotes)

In [9]:
# [ ] display the type of "12" (use quotes)

In [10]:
# [ ] display the type of 12 (no quotes)

In [11]:
# [ ] display the type of -12 (no quotes)

In [12]:
# [ ] display the type of 12.0 (no quotes)

In [13]:
# [ ] display the type of 1.55

In [15]:
# [ ] find the type of the type(3) statement (no quotes) - just for fun

## Concept: Errors!
Encountering and troubleshooting errors are fundamental parts of computer programming.

### Example

In [53]:
# [ ] Review & run code
print("my number is " + "123") 
print("my number is " + 123)

my number is 123

TypeError: ignored

#### TypeError
The lineÂ  **`print("my number is " + 123)`** causes the **`TypeError`** message to appear.  
&gt;`TypeError: Can't convert 'int' object to str implicitly`  

When adding to the stringÂ  `"my number is "`Â  the compiler is experiencing another string, but finds a number ***`123`**.  

Python cannot convert the Integer Â  `123`Â  to a string without explicit instruction (in code). 
  
In other words, Python only allows combining *like types*.
- **`str`** + **`str`**
- **`int`** + **`int`**

## Task 2: Fix `TypeError` 
- Review the code in each cell below and then run the code
- Fix any errors and run until the code no longer shows errors
- Indicate in your comments what, if any, errors you found and how you fixed them.

In [18]:
total_cost = 3 + 45
print(total_cost)

48

In [54]:
school_num = 123
print('The street number of Central School is + ')
print(school_num)

The street number of Central School is +
123

## Task 2 (cont.) 
- Check out the code below
- In your comments write a hypothesis for what predict will happen when you add float + int 
- Run the code - were you correct?

In [57]:
# Hypothesis: Would return as 6.3?
# Edit: I was correct.

In [56]:
print(type(3.3))
print(type(3))
print(3.3 + 3)

<class 'float'>
<class 'int'>
6.3

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) Â  [Privacy &amp; cookies](https://go.microsoft.com/fwlink/?LinkId=521839) Â  Â© 2017 Microsoft