# Module Six Lesson Seven Practice Activity
# Julian Monsalve 3/23/2022
# In this lesson I've learned how to use list methods.
# No difficulties.
## .extend(), +, .reverse(), .sort(),  reversed() and sorted() 
- for in: `for` loop using `in`
- for range: `for range(start,stop,step)` 
- **More list methods and functions: `.extend()`, `+, .reverse(), reversed(), sorted(),  .sort()`**
- Strings to lists,`.split()`, and list to strings, `.join()`

----- 

### Student will be able to
- Iterate through lists using `for` with `in`
- Use `for range()` in looping operations
- **Use list methods `.extend()`, `+, .reverse(), .sort()`**
- Convert between lists and strings using `.split()` and `.join()`

## Concept: Combine Lists
 
  [View Concatenate List video](https://ncvps.yuja.com/V/Video?v=4515298&node=15056464&a=181150718&autoplay=1)
  ### `+`  list addition
###  `.extend()` list method   

#### Combine lists with `+` and `.extend()`
```python
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]
# combine in a new list
all_cities = visited_cities + wish_cities

# add a list to an existing list
visited_cities.extend(wish_cities)
```

### Examples

In [1]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# .extend() 
# extending visited_cities list (IN PLACE) by concatenating wish_cities
visited_cities.extend(wish_cities)
print("ALL CITIES",visited_cities)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [2]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# (+) Addition operator for lists creates a (NEW) combined List
all_cities = visited_cities + wish_cities

print("ALL CITIES")
for city in all_cities:
    print(city)

ALL CITIES
New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu

In [3]:
# [ ] review and run example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [4]:
# [ ] review and run example after running cell above
# .extend() 
team_a.extend(team_b)
print("Team_a extended", team_a)

# what happens if you keep running this cell?

Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

## Task 1: Combine lists

In [5]:
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]

birds_seen = ["blue jay", "crow"]
common_birds.append(birds_seen)
print(common_birds)

['chicken', 'blue jay', 'crow', 'pigeon', ['blue jay', 'crow']]

In [6]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print

zero_nine = [1, 2, 3, 4, 5, 6, 7, 8, 9]
ten_onehundred = [10, 20 , 30, 40 ,50, 60, 70, 80, 90, 100]
all_num = []
all_num.append(zero_nine)
all_num.append(ten_onehundred)
print(all_num)

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

## Concept: Reverse a list in place
### .reverse()
 
  [View Reverse Lists video](https://ncvps.yuja.com/V/Video?v=4515302&node=15056468&a=361498094&autoplay=1)

```python
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)
```
You may use .reverse() for the purposes of this activity, but if you want to explore using reversed(), here is an important note:

The reversed() function allows us to process the items in a sequence in reverse order. It accepts a sequence and returns an iterator. As you usually are interested in reversing the list and having it be a list, you need to cast it. 

Example: 

reversed(my_list) would return a message like: list_reverseiterator object at 0x7f457d8bd5f8 

list(reversed(my_list)) would return my_list in reverse order.

### Examples

In [7]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [8]:
# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [9]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Task 2: .reverse()

In [10]:
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print

multiples_list = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
multiples_list.reverse()
print(multiples_list)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [11]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]

fours = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40 ,44]
more_fours = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40 ,44]
fours.reverse()
fours.append(more_fours)
print(fours)

[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]]

## Concept: .sort() and sorted()
  
  [View Sort and Sorted Lists video](https://ncvps.yuja.com/V/Video?v=4515310&node=15056485&a=1975437971&autoplay=1)

 

### .sort() in place  
**.sort()** - orders a list in place 
```python
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
quiz_scores.sort()
```  

### sorted() copy
**sorted()** - creates an ordered list copy 
```python
game_points = [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points = sorted(game_points)
```

### Examples: .sort() and sorted()

In [12]:
# [ ] review and run example
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]

# use .sort()
quiz_scores.sort()

print("quiz_scores:", quiz_scores)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [13]:
# [ ] review and run example
game_points = [3, 14, 0, 8, 21, 1, 3, 8]

# use sorted()
sorted_points = sorted(game_points)

print("game_points:", game_points)
print("sorted_points:", sorted_points)

game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]

In [14]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

## Task 3: .sort() &amp; sorted()

In [16]:
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in visited_cities:
     first_character = city[0]
     if ord(first_character) >= ord('A') and ord(first_character) <= ord('Q'):
             print(city)

New York
Munich
Dubai
Mexico City
Hyderabad

In [17]:
# [ ] make a sorted copy (sorted_cities) of visited_cities list
# [ ] remove city names 5 characters or less from sorted_cities 
# [ ] print visitied cites and sorted cities
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

sorted_cities = sorted(visited_cities)
print(sorted_cities)
print(sorted_cities[0:5])

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']
['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York']

## Task 4 (program): Merge &amp; Sort Animals
Create a program that 
- takes user to build a list: add_animals 
- merges add_anmials with exisiting list: anmimals
- provides a sorted list to view in alpa or reverse alpha order


<font> <b>step 1 </b></font> get user input to build add_animals list

In [18]:
# [ ] build a list (add_animals) using a while loop, stop adding when an empty string is entered
add_animals = []

user_add = input("enter some animals: ")
while user_add != "":
    add_animals.append(user_add)
    user_add = input("enter some animals: ")
print(add_animals)

['cheetah', 'bear', 'lion']


<font> <b>step 2 </b></font> Merge the lists: add_animals into animals

In [19]:
# [ ] extend the lists into animals, then sort 
animals = ["Chimpanzee", "Panther", "Wolf", "Armadillo"]
animals.extend(add_animals)
print(animals)

['Chimpanzee', 'Panther', 'Wolf', 'Armadillo', 'cheetah', 'bear', 'lion']


<font> <b>step 3 </b></font> Allow animals list to be viewed alpha or reverse alpha order

In [20]:
# [ ] get input if list should be viewed alpha or reverse alpha and display list

animals.sort()
animals.reverse()
print(animals)

['lion', 'cheetah', 'bear', 'Wolf', 'Panther', 'Chimpanzee', 'Armadillo']

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977)   [Privacy &amp; cookies](https://go.microsoft.com/fwlink/?LinkId=521839)   © 2017 Microsoft